.customerDetails{
    display: flex;

    .customerDetailsContainer{
        flex: 6;
        overflow-x: hidden;

        .customerDetailsTitle{
            margin-left: 20px;
            font-size: 28px;
            color: gray;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        
            .link{
              text-decoration: none;
              color: green;
              font-size: 16px;
              font-weight: 400;
              border: 1px solid green;
              padding: 5px;
              border-radius: 5px;
              cursor: pointer;
            }
        }
    }
    .sideBar{
        .center{
            .usersItem{
                background-color: rgb(220, 212, 255);
            }
        }
      }
} 