.accountsManagement{
    display: flex;

    .sideBar{
        .center{
            .accountsItem{
                background-color: rgb(220, 212, 255);
            }
        }   
    }

    .accountsManagementContainer{
        flex: 6;

        .accountsManagementTitle{
            margin-left: 20px;
            font-size: 28px;
            color: gray;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        
            .link{
              text-decoration: none;
              color: green;
              font-size: 16px;
              font-weight: 400;
              border: 1px solid green;
              padding: 5px;
              border-radius: 5px;
              cursor: pointer;
            }
        }

        .accountsOverview{
            .overviewHeaderTitle {
                margin-top: 20px;
                margin-bottom: 10px;
                margin-left: 20px;

                h1 {
                    font-size: 20px;
                    color: #333;
                }
                p {
                    color: #777;
                }
            }

            .overviewHeaderContent {
                margin-top: 20px;
                margin-bottom: 10px;
                margin-left: 20px;

                p {
                    color: #777;
                }
            }

            .overviewBodyContent {
                margin-top: 20px;
                margin-bottom: 10px;
                margin-left: 20px;
            }



            // .pieChartContainer{
            //     height: 500px;
            //     border: 1px solid black;
            // }
            
            .statsGrid {
                padding: 20px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
                margin-bottom: 40px;
            }
        
            .chartContainer {
                padding: 20px;
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            }     
            
        }

        .accountsOptions{
            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: 20px;
            padding: 50px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        
            .accountsOptions1{
                background: #fff;
                border-radius: 10px;
                padding: 20px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

                .chartNav{
                    text-decoration: none;

                    .editButton {
                      padding: 10px 25px;
                      font-size: 16px;
                      color: #7451f8;
                      background-color: #7551f818;
                      cursor: pointer;
                      border-radius: 0px 0px 0px 5px;
                      text-decoration: none;
                      z-index: 999;
    
                      &:hover{
                        color: #555;
                        background-color: #7551f8;
                        color: #fff;
                      }
                      &:active{
                        color: #404040;
                        background-color: #5c30f9;
                      }
    
                  }
                }
                
            }
            
            .accountsOptions2{
                margin-top: 30px;
                background: #fff;
                border-radius: 10px;
                padding: 20px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

                .chartNav{
                    text-decoration: none;

                    .editButton {
                      padding: 10px 25px;
                      font-size: 16px;
                      color: #7451f8;
                      background-color: #7551f818;
                      cursor: pointer;
                      border-radius: 0px 0px 0px 5px;
                      text-decoration: none;
                      z-index: 999;
    
                      &:hover{
                        color: #555;
                        background-color: #7551f8;
                        color: #fff;
                      }
                      &:active{
                        color: #404040;
                        background-color: #5c30f9;
                      }
    
                  }
                }
            }
            .accountsOptions3{
                margin-top: 30px;
                background: #fff;
                border-radius: 10px;
                padding: 20px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

                .chartNav{
                    text-decoration: none;

                    .editButton {
                      padding: 10px 25px;
                      font-size: 16px;
                      color: #7451f8;
                      background-color: #7551f818;
                      cursor: pointer;
                      border-radius: 0px 0px 0px 5px;
                      text-decoration: none;
                      z-index: 999;
    
                      &:hover{
                        color: #555;
                        background-color: #7551f8;
                        color: #fff;
                      }
                      &:active{
                        color: #404040;
                        background-color: #5c30f9;
                      }
    
                  }
                }
            }
        }

        // .analytics {
        //     display: flex;
        // }
          
        // .analyticsContainer {
        //     flex: 1;
        //     background-color: #f9f9f9;
        // }
        
    }
} 