.circlea{
    position: fixed;
    width: 40px;
    height: 40px;
    border: 1px solid blueviolet;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    pointer-events: none;
    z-index: 100;

}

.circleb{
    position: fixed;
    width: 20px;
    height: 20px;
    border: 1px solid blueviolet;
    background-color: #8a2be2;
    border-radius: 100%;
    top: -20px;
    left: -20px;
    pointer-events: none;
    z-index: 100;

}