.deleteConfirmationDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it is above other elements */
  }
  
  .deleteConfirmationDialogContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-out;
  }
  
  .deleteConfirmationDialogContent h3 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
  }
  
  .deleteConfirmationDialogActions {
    display: flex;
    justify-content: space-between;
  }
  
  .deleteConfirmationDialogActions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .deleteConfirmationDialogActions button:hover {
    opacity: 0.9;
  }
  
  .deleteConfirmationDialogActions button:first-child {
    background-color: #ccc;
    color: #333;
  }
  
  .deleteConfirmationDialogActions button:last-child {
    background-color: #d9534f;
    color: #fff;
  }
  
  /* Add animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  