.orderManagement {
    display: flex;

    .sideBar{
        .center{
            .ordersItem{
                background-color: rgb(220, 212, 255);
            }
        }
        
    }
  
    .orderManagementContainer {
      flex: 6;
      display: flex;
      flex-direction: column;
  
      .orderManagementTitle{
        width: 80%;
        margin-left: 20px;
        font-size: 28px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .link{
          text-decoration: none;
          color: green;
          font-size: 16px;
          font-weight: 400;
          border: 1px solid green;
          padding: 5px;
          border-radius: 5px;
          cursor: pointer;
        }
    }
  
      .orderManagementContent {
        display: flex;
        gap: 20px;

        
        
  
        .orderManagementDatagrid {
          flex: 1;
          max-width: 100%;
          
          .filterContainer {
            display: flex;
            gap: 20px;
            margin-left: 20px;
            margin-bottom: 20px;
          }
          
          .filterContainer .MuiTextField-root {
            width: 200px;
          }
          
          .filterContainer .MuiButton-root {
            height: 56px;
          }
        }
  
        .middle {
          padding: 20px;
          border-radius: 10px;
          overflow-x: hidden;
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          padding: 20px;
          border-radius: 10px;

          .tableTitle {
            font-size: 20px;
            color: gray;
            margin-bottom: 10px;
          }

          .tableUserOrders {
            width: 100%;
          }
          

          .itemImg {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            vertical-align: middle;
            margin-right: 10px;
          }
        }

        .bottom {
          display: flex;
          gap: 20px;
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          position: relative;
          padding: 20px;
          border-radius: 10px;
        }

        .cardHeader {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;

          .cardIcon {
            padding: 0px;
            font-size: 20px;
            margin-right: 1px;
            color: #737373;
          }

          .title {
            font-size: 18px;
            color: #737373;
            margin-bottom: 0;
          }
        }

        .middle,
        .bottom {
          max-width: 100%; 
          overflow-x: hidden; 
        }

      }
    }
  }
  